.profile__title {
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 33px;
  text-align: center;
  color: #fff;
  white-space: nowrap;
  margin: 0;
}

@media screen and (min-width: 1024px) {
  .profile__title {
    font-size: 42px;
    line-height: 48px;
    text-align: left;
  }
}
